@import "font";
@import "syntax";

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "noto sans jp",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$baseFontWeight: 100;
$fontSize--normal: 1.6rem;
$fontSize--small: 1.2rem;

$linkColor: rgb(205, 92, 92);

html {
  font-size: 62.5%;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

h2 {
  font-size: 2.25rem;
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

ul {
}

/* code */
code {
  font-family: inherit;
}

.highlight {
  overflow-x: scroll;
}

::-webkit-scrollbar {
  height: 2px;
}
/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, .5);
  border-radius: 10px;
  // box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}

/* images */
figure.image {
  padding: 10px;
  margin: 20px auto;

  figcaption {
    color: #666;
    font-size: $fontSize--small;
    margin-top: 10px;
    text-align: center;
  }

  img {
    border: 1px solid lightgray;
    border-radius: 1px;
    padding: 1rem;
    width: 90%;
    display: block;
    margin: auto;
    box-shadow: 5px 5px 0px 1px rgba(0,0,0,.1);

    &.small {
      width: 50%;
    }
  }
}


a {
  color: firebrick;
  text-decoration: none;
  text-decoration-color: rgba($linkColor, 0.5);
  transition: text-decoration 0.5s ease-in-out;

  &:visited {
    // color: inherit;
  }

  &:hover {
    color: firebrick;
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba($linkColor, 1);
  }
}

/* Page Layout */
.container {
  margin: auto;
  max-width: 600px;
  width: 80%;
  font-size: $fontSize--normal;
  font-weight: 300;
}

.header-nav {
  a {
    display: inline-block;
  }
  .nav-item:nth-of-type(n+2) {
    display: inline-block;
    margin-left: 20px;
  }
}

.description {
  font-size: $fontSize--normal;
}

/* Posts page */

.post-body p {
  font-size: 1.7rem;
  line-height: 1.5;
}

.posts {
  padding-left: 0;

  .post-li {
    font-size: 2rem;
    list-style: none;
    margin: 12px 0;
    vertical-align: text-top;
  }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  @import "bubble";
  body {
    background-color: #333;
    color: #fff;
  }

  a {
    color: #e70;
  }

  figure.image figcaption {
    color: #ccc;
  }

  img {
    filter: grayscale(30%);
  }

  img[src*=svg] {
    filter: invert(100%);
  }
}
/* 文字に関する情報 */
.title {
  font-size: 4rem;
  font-weight: 100;
}

.sub-title {
  font-size: 2.3rem;
  font-weight: 300;
}

@media (min-width: 1024px) {
  width: 70%;
}
