<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {%- include twitter-card.html -%}
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="alternate" type="application/rss+xml" title="My Site RSS" href="/feed.xml" />
  </head>
  <body>
    <div class="container">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
